$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  text-align: center;
  background: rgba(253, 210, 190, 0.2);
}

.big{
  display: none;
}

@keyframes animate {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.navbar-light{
  background: rgba(242, 112, 34, 1);
}

.nav-up {
  top: -40px;
}

.contactlink{
  -webkit-transition: width 0.5s; /* For older versions of Safari */
  transition: width 0.5s;
}

.contactlink:hover{
  width: 110px;
}


.photo2{
  width: 300px;
}
  

    .photo1{
      position: absolute;
      top: 10px;
      left: 15px;
      width: 100px;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
    }

    .photo1:hover{
      width: 150px;
    }
   

    .header1{
      width: 100vw;
      text-align: center;
  
      background: rgba(242, 112, 34, 1);
    }

    .under{
      animation-duration: 0.7s;
      animation-name: animate;
      animation-iteration-count: infinite;
      animation-direction: alternate;

    }

    

    .statement1{
      margin-bottom: 300px;
     
    }

    @keyframes animatedBackground {
      from {background-position: 0 0;}
      to {background-position: 400% 0;}
    }

    .pstatement1{
      height: 400px;
      
      overflow: hidden;
      background: rgba(253, 210, 190, 0.5);
      background-position: 0px 0px;
      background-repeat: repeat-x;
      background-position: center;  
      
      h2{
        color: rgba(242, 112, 34, 1);
      }
      img{
        margin-top: 0px;
        width: 100%;
        
        
      }
    }

    

    .statement2{
      margin-top: 300px;
      width: 80vw;
      margin-left: 10vw;
      height: 300px;
      position: relative;
      img{
        width: 300px;
        float: left;
      }      

      h3{
        display: inline;
        text-align: center;
        position: relative;
        top: 40%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: rgba(246, 140, 31, 1);
      }
    }

    .works{
      display: block;
      width: 80vw;
      margin-left: 10vw;
      position: relative;
      img{
        position: relative;
        z-index: 1;
      }

      .mainwork{
        
        height: 400px;
        text-align: center;
        overflow: hidden;
        img{
          margin-left: auto;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          position: relative;
          z-index: 0;
         
        }
        
      }
      h1{
        font-size: 70px;
      }
      #subworks{
        width: 80%;
        position: relative;
        img{
          position: relative;
          z-index: 0;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        display: block;
      }
    }

    .overlay0 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 10%;
      right: 20%;
      height: 400px;
      width: 80%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(240,100,40,1);
    }

    .overlay1 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 10%;
      right: 20%;
      height: 400px;
      width: 40%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(242, 112, 34, 1);
    }

    .overlay2 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 50%;
      right: 20%;
      height: 400px;
      width: 40%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(246, 140, 31, 1);
    }

    .overlay3 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 10%;
      right: 20%;
      height: 400px;
      width: 40%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(253, 184, 19, 1);
    }
    .overlay4 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 50%;
      right: 20%;
      height: 400px;
      width: 40%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(253, 184, 19, 1);
    }

    .mainwork:hover .overlay0 {
       opacity: 0.95;
    }

    .subwork0:hover .overlay1 {
       opacity: 0.95;
    }

    .subwork1:hover .overlay2 {
       opacity: 0.95;
    }

    .subwork2:hover .overlay3 {
       opacity: 0.95;
    }

    .subwork3:hover .overlay4 {
       opacity: 0.95;
    }


   
    .text0 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      a{
        font-weight: bold;
      }
    }

    

    .text1 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      a{
        font-weight: bold;
      }
    }

    .text2 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      a{
        font-weight: bold;
      }
    }

    .text3 {
      color: white;
      opacity: 1;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      a{
        font-weight: bold;
      }
    }

    .text4 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      a{
        font-weight: bold;
      }
    }

    .footer1{
      height: 150px;
      background: rgb(97, 194, 203);
      margin-top: 150px;
      text-align: center;
      width: 100vw;
      img{
        width: 100px;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
      }
    }


    @media screen and (min-width: 319px) {

      #bigview{
        display: none;
      }
    .statement2{
      margin-bottom: 450px;
    }

    .photo1{
      position: absolute;
      top: 10px;
      left: 15px;
      width: 50px;
    }


    .works{
    display: block;
    width: 90vw;
    margin-left: 5vw;
    position: relative;
    background: #E4F6FA;
    .mainwork{
      width: 100%;
      margin-left: 0%;
      
      height: 400px;
      
      img{
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        overflow: hidden;
        zoom: 60%;
        object-fit: cover;
      }
      
    }
    h1{
      font-size: 70px;
    }
    #subworks{
      width: 100%;
      height: 400px;
      position: relative;
      img{
        height: 96%;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5%;
        margin-bottom: auto;
        overflow: hidden;
        object-fit: cover;
      }
      display: inline-block;
    }
  }

  .overlay0 {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0%;
    right: 20%;
    height: 400px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(240,100,40,1);
  }

  .overlay1 {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0%;
    right: 20%;
    height: 400px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(242, 112, 34, 1);
  }

  .overlay2 {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0%;
    right: 20%;
    height: 400px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(246, 140, 31, 1);
  }

  .overlay3 {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0%;
    right: 20%;
    height: 400px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(253, 184, 19, 1);
  }
  .overlay4 {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0%;
    right: 20%;
    height: 400px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(253, 184, 19, 1);
  }

  .mainwork:hover .overlay0 {
     opacity: 0.95;
  }

  .subwork0:hover .overlay1 {
     opacity: 0.95;
  }

  .subwork1:hover .overlay2 {
     opacity: 0.95;
  }

  .subwork2:hover .overlay3 {
     opacity: 0.95;
  }

  .subwork3:hover .overlay4 {
     opacity: 0.95;
  }


  .footer1{
    height: 600px;
    background: rgb(97, 194, 203);
    margin-top: 150px;
    text-align: center;
    width: 100vw;
    img{
      width: 100px;
      margin-top: 20px;
      margin-left: 100px;
      margin-right: 100px;
    }
  }
  }

  
    @media screen and (min-width: 767px) {
    
    .photo1{
      position: absolute;
      top: 10px;
      left: 15px;
      width: 75px;
    }
    

      .statement2{
        margin-bottom: 300px;
      }

      .works{
      display: block;
      width: 80vw;
      margin-left: 10vw;
      position: relative;
      background: #E4F6FA;
      .mainwork{
        width: 100%;
        margin-left: 0%;
        height: 400px;
        text-align: center;
        overflow: hidden;
        img{
          margin-left: 0%;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          
        }
        
      }
      h1{
        font-size: 70px;
      }
      #subworks{
        width: 100%;
        height: 400px;
        img{
          height: 100%;
          object-fit: cover;
          width: 99.9%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0%;
          overflow: hidden;
          
        }
        display: inline-block;
      }
    }

    .overlay0 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0%;
      right: 20%;
      height: 400px;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(240,100,40,1);
    }

    .overlay1 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0%;
      
      
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(242, 112, 34, 1);
    }

    .overlay2 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0%;
      
      height: 400px;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(246, 140, 31, 1);
    }

    .overlay3 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0%;
      right: 20%;
      height: 400px;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(253, 184, 19, 1);
    }
    .overlay4 {
      position: absolute;
      top: 0px;
      bottom: 0;
      left: 0%;
      right: 20%;
      height: 400px;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: rgba(253, 184, 19, 1);
    }

    .mainwork:hover .overlay0 {
       opacity: 0.95;
    }

    .subwork0:hover .overlay1 {
       opacity: 0.95;
    }

    .subwork1:hover .overlay2 {
       opacity: 0.95;
    }

    .subwork2:hover .overlay3 {
       opacity: 0.95;
    }

    .subwork3:hover .overlay4 {
       opacity: 0.95;
    }


   
    .text0 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .text1 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .text2 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .text3 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .text4 {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    .footer1{
      height: 400px;
      background: rgb(97, 194, 203);
      margin-top: 150px;
      text-align: center;
      width: 100vw;
      img{
        width: 100px;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
      }
    }
  }


  @media screen and (min-width: 1280px) {
    .works{
      display: block;
      width: 80vw;
      margin-left: 10vw;
      position: relative;
      background: #E4F6FA;
      .mainwork{
        width: 100%;
        margin-left: 0%;
        height: 400px;
        text-align: center;
        overflow: hidden;
        img{
          margin-left: 0%;
          margin-right: auto;
          margin-top: auto;
          margin-bottom: auto;
          
        }
        
      }
      h1{
        font-size: 70px;
      }
      #subworks{
        width: 100%;
        height: 400px;
        img{
          height: 100%;
          object-fit: cover;
          width: 100%;
          margin-top: 0%;
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;
          
        }
        display: inline-block;
      }
    }
    .footer1{
      height: 300px;
    }

    .small{
      display: none;
    }
    .big{
      display: block;
    }
  

  .pstatement1{
    height: 600px;
    
    overflow: hidden;
    background: rgba(253, 210, 190, 0.5);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-position: center;  
    
    h2{
      color: rgba(242, 112, 34, 1);
    }
    img{
      margin-top: -150px;
      width: 100%;
      
      
    }
  }
}
  @media screen and (min-width:1599px){
    #bigview{
      display: unset;
    }

    #smallview{
      display: none;
    }
    .works{
      display: block;
      width: 80vw;
      margin-left: 10vw;
      position: relative;
      background: #E4F6FA;
      .mainwork{
        width: 100%;
        margin-left: 0%;
        height: 400px;
        text-align: center;
        overflow: hidden;

        img{
          width: 100%;
          margin-left: 0%;
          margin-right: auto;
          margin-top: auto;
        }
      }
      h1{
        font-size: 70px;
      }
      #subworks{
        width: 100%;
        height: 400px;
        img{
          object-fit: cover;
          margin-top: 0%;
          margin-bottom: auto;
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;
        }
        .subwork0{
          object-fit: cover;
          overflow: hidden;
          width:49.9%;
          margin-right: 50%;
        }
        .subwork1{
          width: 49.9%;
          margin-left: 50%;
        }
        position: relative;  
        h3{
          display: inline;
          text-align: center;
          position: relative;
          top: 40%;
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          color: rgba(246, 140, 31, 1);
        }

        .overlay1 {
          width: 50%;
        }  

        .overlay2 {
          width: 50%;
          margin-left: 50%;
        }  

        .overlay3 {
          width: 50%;
        }  

        .overlay4 {
          width: 50%;
          margin-left: 50%;
        }          

        .description0{
          position: absolute;
          width: 50%;
          margin-left: 50%;
          float: right;
          height: 400px;
        }
        .description1{
          position: absolute;
          width: 50%;
          margin-right: 50%;
          float: left;
          height: 400px;

        }
        display: inline-block;
      }
    }
    .footer1{
      height: 150px;
    }
  }