$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}



/* Remove the padding we set earlier */
  

  .photo{
      position: absolute;
      top: 10px;
      left: 15px;
      
    }
    .header1{
      width: 100%;
      text-align: center;
    }
    .menu{
      position: fixed;
      top: 5px;
      right: 20px;
      
    }

    .mainbody{
      margin-top: 300px;
      width: 100vw;
      text-align: center;
    }
    
    .statement1{
      margin-bottom: 300px;
     
     
    }

    .pstatement1{
      height: 300px;
      margin-bottom: 300px;
      overflow: hidden;
      background-image: url("../images/bgdesign.png");
      background-repeat: repeat-x;
      background-position: center;  
    }

    .statement2{
      margin-top: 300px;
      
      width: 80vw;
      margin-left: 10vw;
      height: 300px;
      //background: lightgrey;
      position: relative;
      img{
        width: 300px;
        float: left;
      }

      h3{
        display: inline;
        text-align: center;
        position: relative;
        top: 40%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    .works{
      display: block;
      width: 80vw;
      margin-left: 10vw;

      .mainwork{
        width: 80%;
        margin-left: 10%;
        height: 400px;
        text-align: center;
        background-image: url("http://i.imgur.com/QfkSz4I.png");
      }
      h1{
        font-size: 70px;
      }
      img{
        width: 40%;
      }
    }

    .footer1{
      height: 100px;
      background: rgb(97, 194, 203);
      margin-top: 150px;
      text-align: center;
      img{
        width: 50px;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
      }
    }

    @media screen and (min-width: 750px) {

      .header1{
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (min-width: 750px) {

      .header1{
      width: 100%;
      text-align: center;
    }


    }