

  <div class = "pstatement1">
    <img src="https://i.imgur.com/enVQvaW.png" class="big">
    <img src="https://i.imgur.com/fcg4ZfH.png" class="small">
  </div>
  
  <div class = "statement2" id = "about">
    <img class = "photo2" src="https://i.imgur.com/oHgyEWK.png">
    <h3>Raised in CO and Bangkok, I’ve cut my teeth in Seattle pursuing science, building sites, and doing pure programming.
    I emphasize functionality in my sites and work hard to make sure they are as versatile as possible, using JS, Python, and the rest of the full stack to the best of its capabilities.
    Currently seeking work in the greater Seattle area.</h3>
  </div>

  <h1>Work</h1>
  <div class = "works" id = "works">
    <div class = "mainwork">
      <img class = "primework"src="https://i.imgur.com/5GQ81KU.png">
      <div class = "overlay0">
        <div class = "text0">
          <p>Site content and more for Fluke, a major biomedical device manufacturer.</p>
          <h3><a href="#!page1">More Info</a></h3>
        </div>
      </div>
    </div>
    <div class = "subwork0" id = "subworks">
      <div class = "description0" id = "bigview"><h3>My capstone project.  A Wiki built from scratch in Django, using Django's RESTful API functionality.</h3></div>        
      <img class = "subwork0" src="http://i.imgur.com/3kUMod4.png">
      <div class="overlay1">
        <div class="text1">
          <p class = "description0" id = "smallview">My capstone project.  A Wiki built from scratch in Django, using Django's RESTful API functionality.</p>          
          <h3><a href="#!page2">More Info</a></h3>
        </div>
      </div>
    </div>
    <div class = "subwork1" id = "subworks">
      <div class = "description1" id = "bigview"><h3>Stormy Weather: An application that finds concerts and returns weather for them.  Made with AngularJS and Songkick/Weather Underground.  Currently being rebuilt!</h3></div>        
      <img class = "subwork1" src="http://i.imgur.com/N9V9dfI.png">
       <div class="overlay2">
        <div class="text2">
          <p class = "description1" id = "smallview">Stormy Weather: An application that finds concerts and returns weather for them.  Made with AngularJS and Songkick/Weather Underground.  Currently being rebuilt!</p>          
          <h3><a href="#!page3">More Info</a></h3>
        </div>
      </div>
    </div>
    <div class = "subwork2" id = "subworks">
      <div class = "description0" id = "bigview"><h3>Web Chess: A work in progress demonstration of DOM manipulation and simple matrix math made with pure JS.</h3></div>        
      <img class = "subwork0" src="https://i.imgur.com/DDM0qJV.png">
       <div class="overlay3">
        <div class="text3">
          <p class = "description0" id = "smallview">Web Chess: A work in progress demonstration of DOM manipulation and simple matrix math made with pure JS.</p>          
          <h3><a href="#!page4">More Info</a></h3>
        </div>
      </div>
    </div>
    <div class = "subwork3" id = "subworks">
      <div class = "description1" id = "bigview"><h3>Rosalind!  It's bioinformatical!  In Python.</h3></div>        
      <img class = "subwork1" src="https://i.imgur.com/GSfVkgw.png">
       <div class="overlay4">
        <div class="text4">
          <p class = "description1" id = "smallview">Rosalind!  It's bioinformatical!  In Python.</p>          
          <h3><a href="#!page5">More Info</a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="techused">
    <h1 class="toolbox">My Toolbox</h1><br>
    <div class="items">
    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><img class = "techitem" src="https://i.imgur.com/XwyTYVI.png"></a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"><img class = "techitem" src="https://i.imgur.com/IR6rqkC.png"></a>
    <a href="https://www.javascript.com/"><img class = "techitem" src="https://i.imgur.com/kmBnrdf.png"></a>
    <a href="https://www.python.org/"><img class = "techitem" src="https://i.imgur.com/mZGljth.png"></a>
    <a href="https://angular.io/"><img class = "techitem" src="https://i.imgur.com/Z6NYYcH.png"></a>
    <a href="https://www.djangoproject.com/"><img class = "techitem" src="https://i.imgur.com/k70GirZ.png"></a>
    <a href="https://httpd.apache.org/"><img class = "techitem" src="https://i.imgur.com/HJLIaLf.png"></a>
  </div><br>
  </div>
  
  

  <div class="location">
    <h1>Most recently spotted near</h1>
  <iframe
    width="90%"
    height="450"
    frameborder="0" style="border:0,"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDewu_y2p1svD30vhMuIEsCTS8r4v-y19M&q=narbeck+wetland+sanctuary,Everett+WA" allowfullscreen>
  </iframe>
  </div>

    
