<h1 class="projecttitle">A D D - A - M A P</h1>

<div class="explainer" id = "exptext4">

<div class="exptext">
<div class="overview">
    <h2>Overview</h2>
    <p>As my coursework in Seattle University's Web Development program continued, my colleagues and I began to experiment with more advanced technologies.
        This is one of the results of said experimentation: a quick little informative site that displays a map of Mt. Rainier, with various points of interest listed
        for those who might be interested in visiting or even climbing it.</p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>The site uses the basics of HTML, CSS, and JS.  Alongside these are other tools, chief of which is Leaflet.  Leaflet, 
        for the purposes of this site, is used to present a responsive, versatile, and easy-to-understand map.
        Bootstrap, a CSS framework that enables quick responsive development, was also employed, as was JQuery to make it easy
        to control HTML elements with JQuery.  This provides users with a quick, responsive, nicely functioning interface to learn about one of the greatest mountains in North America!</p>
</div>
</div>
</div>

<br><br><br>

<a class="back" href="#works"><button type="button" class="btn btn-info"><h2>Back</h2></button></a>