
<h1 class="projecttitle" class="maintitle">E N S C I C L O P E D I A</h1>

<div class="explainer" id = "exptext1">

<div class="exptext">
    <br>
<div class="overview">
    <h2>Overview</h2>
    <p>One of the main reasons I even began to take an interest in the internet is the sheer amount of things there were to read on it.
        I hugely value the ability of the web as a service to let me read vast amounts of information about the world, and I thought that a great way to give back
        (at least symbolically) would be to create, even if only as a demonstration, a place where users can create and exchange ideas and information.</p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>For this project, I used Django, a frontend framework built from the ground up in Python (supporting Python 3).  I used it because it seemed like a great way to introduce myself to 
        the use of a database and component-based development.  Django's built in templating engine and Object Relational Mapping came in very, very handy.  
        I also used Apache to host, running on a virtual private server maintained by DigitalOcean.</p>
</div>
</div>
</div>

<br><br><br>


<a class="back" href="#works"><button type="button" class="btn btn-info"><h2>Back</h2></button></a>