<h1 class="projecttitle">C H E S S</h1>

<div class="explainer" id = "exptext3">

<div class="exptext">
<div class="overview">
    <h2>Overview</h2>
    <p>As I kept programming, I started to enjoy challenges based on how I could approach a task logically.  I started going through UW's introductory Computer Science assignments, which were fun, but 
        I realized that I wanted something a bit bigger to sink my teeth into; hence, chess!  This is a game all about logic and rules, and building it from the ground up has proven to be just as rewarding
        as actually playing it.</p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>This is simple, bread and butter WebDev.  Nothing but HTML5, CSS3, and JavaScript (not even Jquery).  In order to make sure I fully understood how to recreate the game, I wanted to reduce the overhead
        that comes with a proper framework and let nothing stand in the way of the JavaScript.  It's a fun game for users, and for me it's a fun exercise in DOM manipulation, Object-Oriented Principles, and simple matrix math.</p>
</div>
</div>

</div>
<br><br><br>
<a href="https://github.com/jls47/chess"><h1>GitHub</a> / <a href="www.jlukes.com/chess/">Site</h1></a>
<br><br><br>


<a class="back" href="#works"><button type="button" class="btn btn-info"><h2>Back</h2></button></a>