<h1 class="projecttitle">P R O J E C T  E U L E R</h1>

<div class="explainer" id = "exptext5">
<div class="exptext" >
<div class="overview">
    <h2>Overview</h2>
    <p>Project Euler is a site I've had a solid amount of fun with.  It's a series of mathematical challenges that test one's ability to understand the ins and outs
        of at times complex mathematical concepts and one's ability to translate said concepts into programming.  I took this up as a sort of litmus test, to see that I 
        was capable of some of the more complicated aspects of pure programming, and am happy to say that I have not disappointed myself.</p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>At the moment, this is written in nothing but pure Python 3, so it can't be run outside of a compiler or terminal.  It has about a dozen challenges completed, with more to surely come.</p>
</div>
</div>
</div>
<br><br><br>
<a class="back" href="#works">Back</a>