
<h1 class="projecttitle" class="maintitle">F L U K E</h1>

<div class="explainer" id = "exptext1">

<div class="exptext">
   
<div class="overview">
    <h2>Overview</h2>
    <p>I was hired by Adecco in March of 2018 to do work for Fluke Biomedical to port their website content over from Microsoft CMS
        2002 to Drupal 7.  It was a long process, and one that I learned a great deal in.  I'm very glad I got the chance that I did, and that
        I can take from this experience new ways of thinking about writing and deploying sites.
    </p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>At Adecco, I used the LAMP stack of Ubuntu, Apache, MySQL, and PHP to locally develop and alter the site.  I also used Python 
        to automate the transition of HTML content from the old site to the new one, changing product specifications from a mess
        of tables to cleaner, easier-to-read, accessible HTML, as well as JQuery to add usability and SASS to style.
    </p>
</div>
</div>
</div>
<br><br><br>
<h1><a href="http://www.flukebiomedical.com/biomedical/usen/home/">Old</a> / <a href="http://live-flukebiomedical.flukedev.com">New</a></h1>
<br><br><br>


<a class="back" href="#works"><button type="button" class="btn btn-info"><h2>Back</h2></button></a>