<h1 class="projecttitle">R O S A L I N D</h1>

<div class="explainer" id = "exptext5">
<div class="exptext" >
<div class="overview">
    <h2>Overview</h2>
    <p>Rosalind is a site that was introduced to me by a close friend.  He and I share an 
		interest in bioinformatics, so I took to this quickly.  I've been having quite a bit of fun with it,
		and hope to keep it that way.  I started to become interested in this field during my time at UW,
		when I discovered that I much preferred my coursework in Genetics to just about anything else.</p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>At the moment, this is written in nothing but pure Python 3, so it can't be run outside of a compiler or terminal.  I'm currently in the bioinformatics stronghold, so expect the code to get more complex as time goes on.  I will begin to include recursion as it becomes
	a greater part of repertoire, as well as additional helpful Python libraries (possibly including matplotlib and others in that vein).</p>
</div>
</div>
</div>
<br><br><br>
<a href="https://github.com/jls47/Rosalind"><h1>GitHub</h1></a>
<br><br><br>
<a class="back" href="#works"><button type="button" class="btn btn-info"><h2>Back</h2></button></a>