<h1 class="projecttitle">S T O R M Y  W E A T H E R</h1>

<div class="explainer" id = "exptext2">

<div class="exptext">
<div class="overview">
    <h2>Overview</h2>
    <p>This project represented my first foray into more complex application development.  During my time at Seattle University, I consistently pushed myself to go one step beyond,
        and this project is one example of this attitude.  I grabbed data from one API, returned it to the view, and sent said data off to another API so that I could return data whose
        contents depended upon the data I had already grabbed.  In this case, I grabbed weather data based on the date of concerts I found by searching for artist or location.</p>
</div>

<div class="technology">
    <h2>Technology</h2>
    <p>For this project, I used AngularJS, one of the most popular frontend frameworks on the web at the moment.  This framework was chosen so as to be a great introduction to the development concept
        of Model-View-Controller, and to give me and the rest of my colleagues the first real test of our app-building skills.  This allows users to see multiple data points from multiple sources at roughly the same time!  In tandem with AngularJS, I used SASS, Grunt, NPM, and Yeoman to get everything off the ground.</p>
</div>
</div>
</div>
<br><br><br>


<a class="back" href="#works"><button type="button" class="btn btn-info"><h2>Back</h2></button></a>